/* app global css */

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  font-family: "Lora", serif;
}

.text-Gunmetal-Gray {
  color: #738580 !important;
}
.bg-Gunmetal-Gray {
  background: #738580 !important;
}

.text-Cool-Gray {
  color: #474440 !important;
}
.bg-Cool-Gray {
  background: #474440 !important;
}

.text-Scallop-Seashell {
  color: #e7d2cc !important;
}
.bg-Scallop-Seashell {
  background: #e7d2cc !important;
}

.text-Pewter {
  color: #b9b7bd !important;
}
.bg-Pewter {
  background: #b9b7bd !important;
}
